@import url('https://fonts.googleapis.com/css?family=Oswald|Ravi+Prakash');

html {

font-family: 'Oswald', sans-serif;
background-color:#87CEEB;
font-size: 22px;
line-height:1em;


}

p{
	
text-align: center;
top:6em;
}
